* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// top
.toppage{
  margin:30px;
  font-size:10px;

}


h1{
  padding-bottom:20px;
}

.text{
  line-height:50px;
  font-size:13px;
  margin-left:20px;
}






// index

.group{
  margin:30px;
}


h2{
  font-weight:bold;
  font-size:25px;
}

td{
  padding-left:5px;
}


li{
  list-style:none;
}



// show
.show{
  margin:40px;
  font-size:15px;
}


.next{
  margin-top:20px;
}

.flash{
  color:green;
}

.showbox{
  margin-left:20px;

}


.showbody{
  margin-top:20px;
}





// edit

.editbook{
  margin:50px;
}

.T{
  font-weight:bold;
}

.B{
  font-weight:bold;
}
